appdirs==1.4.4 ; python_version >= "3.9" and python_version < "3.11"
beautifulsoup4==4.11.2 ; python_version >= "3.9" and python_version < "3.11"
bs4==0.0.1 ; python_version >= "3.9" and python_version < "3.11"
certifi==2022.12.7 ; python_version >= "3.9" and python_version < "3.11"
cffi==1.15.1 ; python_version >= "3.9" and python_version < "3.11"
charset-normalizer==3.0.1 ; python_version >= "3.9" and python_version < "3.11"
cloudscraper==1.2.48 ; python_version >= "3.9" and python_version < "3.11"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "3.11" and platform_system == "Windows"
cryptography==36.0.2 ; python_version >= "3.9" and python_version < "3.11"
cssselect==1.2.0 ; python_version >= "3.9" and python_version < "3.11"
emoji==1.7.0 ; python_version >= "3.9" and python_version < "3.11"
fake-useragent==1.1.1 ; python_version >= "3.9" and python_version < "3.11"
idna==3.4 ; python_version >= "3.9" and python_version < "3.11"
importlib-metadata==6.0.0 ; python_version >= "3.9" and python_version < "3.11"
importlib-resources==5.12.0 ; python_version >= "3.9" and python_version < "3.10"
isort==5.12.0 ; python_version >= "3.9" and python_version < "3.11"
lxml==4.9.2 ; python_version >= "3.9" and python_version < "3.11"
mock==4.0.3 ; python_version >= "3.9" and python_version < "3.11"
numpy==1.24.2 ; python_version < "3.11" and python_version >= "3.9"
opencv-python==4.7.0.68 ; python_version >= "3.9" and python_version < "3.11"
pandas==1.5.3 ; python_version >= "3.9" and python_version < "3.11"
parse==1.19.0 ; python_version >= "3.9" and python_version < "3.11"
pillow==9.4.0 ; python_version >= "3.9" and python_version < "3.11"
pixivpy==3.7.0 ; python_version >= "3.9" and python_version < "3.11"
plyer==2.1.0 ; python_version >= "3.9" and python_version < "3.11"
pycodestyle==2.10.0 ; python_version >= "3.9" and python_version < "3.11"
pycparser==2.21 ; python_version >= "3.9" and python_version < "3.11"
pyee==8.2.2 ; python_version >= "3.9" and python_version < "3.11"
pyparsing==3.0.9 ; python_version >= "3.9" and python_version < "3.11"
pyppeteer==1.0.2 ; python_version >= "3.9" and python_version < "3.11"
pyquery==2.0.0 ; python_version >= "3.9" and python_version < "3.11"
pysimplegui==4.60.4 ; python_version >= "3.9" and python_version < "3.11"
python-dateutil==2.8.2 ; python_version >= "3.9" and python_version < "3.11"
pytz==2022.7.1 ; python_version >= "3.9" and python_version < "3.11"
pywin32==303 ; python_version >= "3.9" and python_version < "3.11"
requests-html==0.10.0 ; python_version >= "3.9" and python_version < "3.11"
requests-toolbelt==0.10.1 ; python_version >= "3.9" and python_version < "3.11"
requests==2.28.2 ; python_version >= "3.9" and python_version < "3.11"
scipy==1.10.1 ; python_version >= "3.9" and python_version < "3.11"
setuptools==60.10.0 ; python_version >= "3.9" and python_version < "3.11"
six==1.16.0 ; python_version >= "3.9" and python_version < "3.11"
soupsieve==2.4 ; python_version >= "3.9" and python_version < "3.11"
tqdm==4.64.1 ; python_version >= "3.9" and python_version < "3.11"
urllib3==1.26.14 ; python_version >= "3.9" and python_version < "3.11"
w3lib==2.1.1 ; python_version >= "3.9" and python_version < "3.11"
websockets==10.4 ; python_version >= "3.9" and python_version < "3.11"
zipp==3.14.0 ; python_version >= "3.9" and python_version < "3.11"
