appdirs==1.4.4 ; python_version >= "3.9" and python_version < "4.0"
beautifulsoup4==4.12.2 ; python_version >= "3.9" and python_version < "4.0"
bs4==0.0.1 ; python_version >= "3.9" and python_version < "4.0"
certifi==2023.11.17 ; python_version >= "3.9" and python_version < "4.0"
cffi==1.16.0 ; python_version >= "3.9" and python_version < "4.0"
charset-normalizer==3.3.2 ; python_version >= "3.9" and python_version < "4.0"
cloudscraper==1.2.71 ; python_version >= "3.9" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "4.0" and platform_system == "Windows"
cryptography==36.0.2 ; python_version >= "3.9" and python_version < "4.0"
cssselect==1.2.0 ; python_version >= "3.9" and python_version < "4.0"
emoji==2.9.0 ; python_version >= "3.9" and python_version < "4.0"
fake-useragent==1.4.0 ; python_version >= "3.9" and python_version < "4.0"
idna==3.6 ; python_version >= "3.9" and python_version < "4.0"
importlib-resources==6.1.1 ; python_version >= "3.9" and python_version < "3.10"
isort==5.13.2 ; python_version >= "3.9" and python_version < "4.0"
lxml==5.0.0 ; python_version >= "3.9" and python_version < "4.0"
mock==5.1.0 ; python_version >= "3.9" and python_version < "4.0"
numpy==1.26.2 ; python_version >= "3.9" and python_version < "4.0"
opencv-python==4.9.0.80 ; python_version >= "3.9" and python_version < "4.0"
parse==1.20.0 ; python_version >= "3.9" and python_version < "4.0"
pillow==9.5.0 ; python_version >= "3.9" and python_version < "4.0"
pixivpy3==3.7.4 ; python_version >= "3.9" and python_version < "4.0"
plyer==2.1.0 ; python_version >= "3.9" and python_version < "4.0"
pycodestyle==2.11.1 ; python_version >= "3.9" and python_version < "4.0"
pycparser==2.21 ; python_version >= "3.9" and python_version < "4.0"
pyee==11.1.0 ; python_version >= "3.9" and python_version < "4.0"
pyparsing==3.1.1 ; python_version >= "3.9" and python_version < "4.0"
pyppeteer==0.0.25 ; python_version >= "3.9" and python_version < "4.0"
pyquery==2.0.0 ; python_version >= "3.9" and python_version < "4.0"
pysimplegui==4.60.5 ; python_version >= "3.9" and python_version < "4.0"
requests-html==0.10.0 ; python_version >= "3.9" and python_version < "4.0"
requests-toolbelt==1.0.0 ; python_version >= "3.9" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.9" and python_version < "4.0"
ruff==0.1.9 ; python_version >= "3.9" and python_version < "4.0"
soupsieve==2.5 ; python_version >= "3.9" and python_version < "4.0"
tqdm==4.66.1 ; python_version >= "3.9" and python_version < "4.0"
typing-extensions==4.9.0 ; python_version >= "3.9" and python_version < "4.0"
urllib3==2.1.0 ; python_version >= "3.9" and python_version < "4.0"
w3lib==2.1.2 ; python_version >= "3.9" and python_version < "4.0"
websockets==12.0 ; python_version >= "3.9" and python_version < "4.0"
zipp==3.17.0 ; python_version >= "3.9" and python_version < "3.10"
